.Box{
    width:50vw;
    height:500px;
    display:flex;
    flex-direction: column;
    margin:auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.firstDiv{
    width:90%;
    height:20%;
    display: flex;
    justify-content: space-between;
  
    margin:auto;
    margin-top: 20px;
}
.date{
    font-size: 20px;
    font-weight: 400;
}
.Case{
    width:10%;
    border:1px solid black;
    position: absolute;
    margin-top:150px;
    margin-left: 37px;
    background-color: black;
    color: white;
    height:30px;
    text-align: center;
    font-size: 20px;

}
.heading{
    position: absolute;
    margin-top: 230px;
    margin-left:37px;
    font-size: 45px;
}
.lastDiv{
    width: 90%;
    height:50px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 250px;
    align-items: center;
    padding: 2px;
}
.symbol{
    font-size: 50px;
    align-self: center;
}