.box{
    width:95%;
    height:60px;
    display: flex;
    margin: auto;
    background-color:rgb(36,37,42) ;
    border-radius: 10px;
    justify-content: space-around;
}
.logo{
    width:25%;
    height:100%;
    display: flex;
    justify-content: center;
    color: white;
  
    font-weight: bold;
    font-size: 20px;
    /* text-align: center; */
    align-items: center;
    
}
.button{
    width:25%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn{
    height:50%;
    width:30%;
    background-color: rgb(0,135,170);
    color: white;
    border:none;
    border-radius: 30px;
}
.links{
    width:25%;
    height:100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
}